# Server Configuration
PORT=3000
NODE_ENV=development

# Kit V4 Email API Key (Server side only)
# Obtain your API key from Kit account settings (https://app.kit.com/account/edit)
KIT_API_KEY=

# Optional Kit Form ID (Defaults to 9851247 if not specified)
KIT_FORM_ID=